{
  "parser": "@babel/eslint-parser",
  "plugins": ["@babel"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "allowImportExportEverywhere": true
    }
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "new-cap": "off",
    "no-invalid-this": "off",
    "no-unused-expressions": "off",
    "object-curly-spacing": "off",
    "semi": "off",
    "@babel/new-cap": "error",
    "@babel/no-invalid-this": "error",
    "@babel/object-curly-spacing": "error",
    "@babel/semi": "error",
    "require-jsdoc": "off",
    "no-multi-spaces": "off",
    "max-len": "off",
    "operator-linebreak": ["error", "before"]
  }
}
